@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

* {
  @apply focus-visible:outline-black;
}

input {
  @apply transition-colors duration-500;
}
