@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

* {
  @apply outline-none;
}

input {
  @apply transition-colors duration-500;
}

.input {
  @apply bg-gray-200 border-2 border-gray-500 m-2 focus:border-gray-400;
}
